@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400&family=Roboto:wght@300&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200&family=Roboto:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;600&family=Roboto:wght@300&family=STIX+Two+Math&display=swap');




@media only screen and (orientation:landscape) {
/* Animations */
@keyframes head{

    /*from{top:5vh; opacity:0.5;}
    to{top:0px; opacity:1;}*/
}
@keyframes nav{
    from{border-bottom:none;}
    to{border-bottom: 5px solid white}
}
html{
    scroll-behavior: smooth;
}
.linkup{
    position:relative;
    top:-10vh;
    font-size:0.01px;
}
body{
    margin:0;
    display: flex;
    flex-direction: column;
}
html, body{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
nav{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    background-color:#9a0000;
    position:fixed;
    width:100%;
    font-family: nunito;
    z-index:1;
}
#othernav{
    display:none;
}
nav .first{
    flex-direction: row;
    display:flex;
    justify-content: flex-start;
}
nav .first img{
    width: 4.8vw;
}
nav .first{
    color:white;
}
nav .third{
    display:none;
}
nav .second{
    display:flex;
    flex-direction:row;
}
nav a{
    text-decoration: none;
    color: white;
    margin-right:1vw;
    margin-left: 1vw;

}
nav .navele {
    display: inline-block;
    position: relative;
  }
  
nav .navele:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 3px;
    bottom: 0;
    left: 0;
    background-color: #ffffff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  
nav .navele:hover:after {
    transform: scaleX(1);
    transform-origin: bottom left;
  }

nav #signupbutn:hover{
    background-color:rgba(0, 0, 0, 0.329);
}
#signupbutn{
    background-color:rgba(0, 0, 0, 0.233);
    color:#ffffff;
    padding-top:0.8vw;
    padding-bottom:0.8vw;
    padding-left:1vw;
    padding-right:1vw;
    border-bottom:none;
}

.cent{
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content: center;
}

#home{
    height: 100vh;
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
}
#home section{
    display:flex;
    flex-direction:column;
    justify-content:center;
    font-family: roboto;
    position:relative;
    animation-name:head;
    animation-duration:1s;

}
#home section h1{
    color: rgba(255, 255, 255, 0.959);
    text-align: center;
    font-size: 5vw;
    font-family:STIX Two Math;
    margin:0;
}
#home section p{
    color: rgb(201, 201, 201);
    text-align: center;
}
#home section .desc{
    width:50vw;

}
#home .descwrap{
    width: 100vw;
    display:flex;
    flex-direction: row;
    justify-content: center;
}
#home .sign{
    width:100%;
    display:flex;
    flex-direction:row;
    justify-content: center;

    margin-top:1%;
}
.sign a{
    text-decoration:none;
    color:white;
    background-color:#9a0000;
    padding: 10px;
    padding-left: 19.9px;
    padding-right:20.1px;
    font-size:95%;
    border-radius:50px;
}
.sign a:hover{
    text-decoration:none;
    color:white;
    background-color:#9a0000ce;
    padding: 10px;
    padding-left: 19.9px;
    padding-right:20.1px;
    border-radius:50px;
}
.about{
    display:flex;
    flex-direction:row;
    padding: 15px;
    justify-content:space-around;
    background-color: rgb(5, 5, 20);
    color:rgba(255, 255, 255, 0.911);
}
.about .img{
    width:20%;
    position:relative;
    animation-name:head;
    animation-duration:1s;
}
.about img{
    width:100%;
}
.about h1{
    font-family:STIX Two Math;
    font-size: 45px;
    border-bottom: 5px solid #9a0000;
    position:relative;
    animation-name:head;
    animation-duration:1s;
}
.about p{
    font-family:roboto;
    font-size: 20px;
    color:rgba(0, 0, 0, 0.829);
    color:rgba(255, 255, 255, 0.603);
    position:relative;
    animation-name:head;
    animation-duration:1s;
}
.about #content{
    width:67.5%;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
#contact{
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    padding: 5vh;
    background-color:rgb(5, 5, 20)
}
#contact section h1{
    font-family: STIX Two Math;
    font-size: 34px;
    color:rgba(255, 255, 255, 0.829);
    border-bottom: 5px solid #9a0000;
}
#contact .stawrt{
    width: 30vw;
}
#contact .stawrt .des{
    font-family: roboto;
    color:rgba(255, 255, 255, 0.5);
}
#contact h4{
    color: rgba(255, 255, 255, 0.63);
    font-family: roboto;
    font-size: 18px;
}
#contact div{
    display:flex;
    flex-direction:row;
}
#contact .socials{
    width:30vw;
    padding-left:10vw;
}
#contact .socials i{
    background-color:rgb(207, 207, 214);
    color: rgb(5, 5, 20);
    padding: 10px;
    border-radius: 50%;
    font-size: 17px;
    width: 15px;
    height: 15px;
    margin: 5px;
    margin-left:0px;
    margin-right: 10px;
    cursor:pointer;
}
#contact .socials .fa-instagram{
    background-color:#c2344c !important;
}
#contact .socials .fa-twitter{
    background-color:	#1DA1F2 !important;
}
#contact .socials .fa-facebook-f{
    background-color:	#4267B2 !important;
}
#contact .socials .fa-linkedin-in{
    background-color:#0077B5 !important;
}
#contact .socials .awd{
    display:flex;
    flex-direction:row;
}

#contact .email p{
   font-size: 18px;
   color: rgba(255, 255, 255, 0.473);
   width: 30vw;
}
#signupbtn{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    background-color: rgb(5, 5, 20);
    padding: 2%;
    background: linear-gradient(to left,rgb(5, 5, 20),rgba(5, 5, 20, 0.966),rgba(5, 5, 20, 0.753), rgba(5, 5, 20, 0.123) ), url('../img/prathamgupta.jpg');
 background-size: cover; 
}
#signupbtn  .form{
    display:flex;
    flex-direction:row;
    justify-content:flex-end;
    margin: 2vw;
    margin-right: 4vw;
    width: 50vw;

}
#signupbtn  form{
    display:flex;
    flex-direction:column;
    background-color:rgba(255, 255, 255, 0);
    width: 20vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

#signupbtn  h1{
    display:flex;
    flex-direction:column;
    color:rgba(255, 255, 255, 0.534);
    font-family: STIX Two Math;
    text-align: left;
    font-size:60px;
    padding: 0px;
    margin: 15px;
    margin-top:40%;

}
#signupbtn  form input{
   padding: 10px;
   margin: 10 15 10 15px;
   border:none;
   background-color: transparent;
    border-bottom: 1px solid rgba(255, 255, 255, 0.349);
    color: rgba(255, 255, 255, 0.63);
}
#signupbtn  form input:focus{
    outline:none;
    border-bottom:2px solid rgba(255, 255, 255, 0.349);
 }

#signupbtn  form button{
    padding: 10px;
    margin: 15px;
    margin-top:25px;
    margin-bottom:20px;
    background-color:#9a0000;
    border:none;
    color:white;
    border-radius: 50px;
    cursor:pointer;
 }

 footer{
     background-color:rgb(5, 5, 20);
     padding: 10px;
     text-align: center;
     color: rgba(255, 255, 255, 0.493);
     font-family:nunito;
     font-size: 15.7px;
 }
 #events{
     display:flex;
     flex-direction:column;
 }
 #events .header{
     display:flex;
     flex-direction:row;
     justify-content:center;
     width:100vw;
 }
 #events .header h1{
    width:30vw;
    text-align:center;
    font-family: STIX Two Math;
    font-size: 40px;
    color:rgba(255, 255, 255, 0.884);
    border-bottom: 5px solid #9a0000;
}
.eventswrap{display:flex; flex-direction:row;justify-content:center;width:100%;}
#events .event{
    display:flex;
    flex-direction:row;
    width: 80vw;
    margin-top:5vw;
    margin-bottom:5vw;
}
.event img{
    width:20%;
    border-radius: 10px 0 0 10px;
}
.event .det{
    background-color:rgb(8, 8, 34);
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}

.event .eventh{
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 10px;
    padding-top:15px;
    background-color:rgb(5, 5, 20);
    border-radius: 0 10px 0px 0px;
}
.event h4{
    color: rgba(255, 255, 255, 0.815);
    font-size: 20px;
    font-family:roboto;
    margin:0px;
}
.event .dt{
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:rgba(255, 255, 255, 0.301);
    font-family:roboto;

}
.event .det{
    padding-bottom: 20px;
}
.event .det p{

    padding-top:0px;
    font-family:roboto;
    color:rgba(255, 255, 255, 0.384);
    margin:14px;
    margin-bottom:22px;
}
.event a{
    padding:10px;
    font-family:roboto;
    background-color: #9a0000;
    color:white;
    border-radius: 50px;
    margin: 12px;
    font-size: 14px;
}
.event a:hover{

    background-color: #6e0808;

}
 #education{
     padding: 2%;
     background-color:rgb(5, 5, 20)
 }
#education h1{
    font-family:STIX Two Math;
    font-size: 45px;
    border-bottom: 5px solid #9a0000;
    text-align:center;
    color: rgba(255, 255, 255, 0.836);
    width:30vw;
}
#education p{
    text-align:center;
    color:rgba(255, 255, 255, 0.575);
    font-size: 20px;
    font-family:roboto;
}
#education .header{
    display:flex;
    flex-direction:row;
    justify-content:center;
    width:100%;
}
}





/*MOBILE COMPATTTTT*/
@media only screen and (orientation:portrait) {
    html{
        scroll-behavior: smooth;
    }
    h1{
        font-family:Times !important;
    }
    .linkup{
        position:relative;
        top:-10vh;
        font-size:0.01px;
    }
    body{
        margin:0;
        display: flex;
        flex-direction: column;
        
    
    }
    html, body{
        width: 100%;
    
        margin: 0px;
        padding: 0px;
        overflow-x: hidden; 
    }
    nav{
        display:flex;
        flex-direction:row;
        justify-content:space-between;
        background-color:#9a0000;
        position:fixed;
        width:100%;
        font-family: nunito;
        height: 10vh;
        z-index:2;
    }
    nav .first{
        flex-direction: row;
        display:flex;
        justify-content: flex-start;
    }
    nav .first{
        color:white;
    }
    .first img{
        width:10vh;
        height:10vh;
    }
    nav .first .cent{
    display:none;
    }
    nav .second{
        display:none;
        flex-direction:row;
    }
    nav .third{
        display:flex;
        flex-direction:column;
        justify-content:center;
        padding-right: 5vw;
    }
    nav .third i{
        font-size: 70px;
        color: rgba(255, 255, 255, 0.856);
    }
    #othernav{
        background-color:#750909;
        display:flex;
        flex-direction:column;
        position:fixed;
        top: -100vh;
        width: 100%;
        z-index:1;
        height: 90vh;
        
    }
    #othernav a{
        font-size: 50px;
        text-decoration: none;
        font-family: roboto;
        padding: 8vw;
        position:relative;
        color:white;
    }

    nav a{
        text-decoration: none;
        color: white;
        margin-right:1vw;
        margin-left: 1vw;
        border-bottom: 5px solid #9a0000;
        border-top: 5px solid #9a0000;
    }
    nav a:hover{
        border-bottom: 5px solid white;
    }
    nav #signupbutn:hover{
        border-bottom: 5px solid #9a0000;
    }
    #signupbutn{

        color:#ffffff;

    }
    
    .cent{
        height:100%;
        display:flex;
        flex-direction:column;
        justify-content: center;
    }
    
    #home{
        height: 100vh;
        display:flex;
        flex-direction:row;
        justify-content:center;
        width:100%;
    }
    #home section{
        display:flex;
        flex-direction:column;
        justify-content:center;
        font-family: roboto;
        width: 100vw;
    }
    #home section h1{
        color: rgba(255, 255, 255, 0.959);
        text-align: center;
        font-size: 12.5vw;
        font-family:Times;
        margin-top:15vh;
    }
    #home section p{
        color: rgb(201, 201, 201);
        text-align: center;
        font-size: 5vw;
    }
    #home section .desc{
        width:70vw;
    
    }
    #home .descwrap{
        width: 100vw;
        display:flex;
        flex-direction: row;
        justify-content: center;
    }
    #home .sign{
        width:100%;
        display:flex;
        flex-direction:row;
        justify-content: center;
        margin-bottom: 10vh;
        margin-top:4%;
    }
    .sign a{
        text-decoration:none;
        color:white;
        background-color:#9a0000;
        padding: 30px;
        padding-left: 50px;
        padding-right:50px;
        font-size:5vw;
        border-radius:100px;
        text-align:center;
    }

    .about{
        display:flex;
        flex-direction:row;
        padding: 15px;
        justify-content:space-around;
        background-color: rgb(5, 5, 20);
        color:rgba(255, 255, 255, 0.911);

    }
    .about .img{
        display:none;
    }
    .about img{
        width:100%;
    }
    .about h1{
        text-align:center;
        font-family:Times;
        font-size: 70px;
        border-bottom: 5px solid #9a0000;
    }
    .about p{
        font-family:roboto;
        font-size: 40px;
        color:rgba(0, 0, 0, 0.829);
        color:rgba(255, 255, 255, 0.603);
    }
    .about #content{
        width:67.5%;
        display:flex;
        flex-direction:column;
        justify-content:center;
    }
    #contact{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        padding: 5vh;
        background-color:rgb(5, 5, 20);
    }
    #contact section h1{
        font-family: Times;
        text-align: center;
        font-size: 60px;
        color:rgba(255, 255, 255, 0.829);
        border-bottom: 5px solid #9a0000;
        margin: auto;
    }
    #contact .stawrt{
        width: 78vw;
    }
    #contact .stawrt .des{
        font-family: roboto;
        color:rgba(255, 255, 255, 0.5);
        text-align:center;
        font-size: 3.5vw;
    }
    #contact h4{
        color: rgba(255, 255, 255, 0.63);
        font-family: roboto;
        font-size: 5vw;
        text-align:center;
    }
    #contact div{
        display:flex;
        flex-direction:row;
        justify-content:center;
    }
    #contact .socials{
        width:78vw;
        text-align:center;
    }
    #contact .socials i{
        background-color:rgb(207, 207, 214);
        color: rgb(5, 5, 20);
        padding: 10px;
        border-radius: 50%;
        font-size: 87.5px;
        width: 90px;
        height: 90px;
        margin: 30px;
        text-align:center;
    }
    #contact .socials .fa-instagram{
        background-color:#c2344c !important;
    }
    #contact .socials .fa-twitter{
        background-color:	#1DA1F2 !important;
    }
    #contact .socials .fa-facebook-f{
        background-color:	#4267B2 !important;
    }
    #contact .socials .fa-linkedin-in{
        background-color:#0077B5 !important;
    }
    #contact .socials .awd{
        display:flex;
        flex-direction:row;
    }
    #contact .email {
        width: 78vw;

     }
    #contact .email p{
       font-size: 57px;
       color: rgba(255, 255, 255, 0.473);
       text-align:center;
    }
    #signupbtn{
        display:flex;
        flex-direction:column;
        justify-content:space-between;
        background-color: rgb(5, 5, 20);
        padding: 2%;
        background: linear-gradient(rgba(0, 0, 0, 0.767), rgba(0, 0, 0, 0.842)), url('../img/prathamgupta.jpg'); background-size: cover; 
    }
    #signupbtn  .form{
        display:flex;
        flex-direction:row;
        justify-content:flex-end;
        margin: 2vw;
        margin-right: 4vw;s
        width: 50vw;
    
    }
    #signupbtn  form{
        display:flex;
        flex-direction:column;
        background-color:rgba(255, 255, 255, 0);
        width: 60.1vw;
        margin-right: 5vw;
        margin-left: 5vw;
        margin: 0 auto;
    }
    
    #signupbtn  h1{
        display:flex;
        flex-direction:column;
        color:rgba(255, 255, 255, 0.658);
        font-family: Times;
        text-align: left;
        font-size:59.9px;
        padding: 0px;
        margin: 30px;
        text-align:center;
        border-bottom: 5px solid #9a0000;
    
    }
    #signupbtn  form input{
       padding: 10px;
       margin: 30 30 30 30px;
       border:none;
       background-color: transparent;
       font-size: 45px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.349);
        color: rgba(255, 255, 255, 0.842);
    }
    #signupbtn  form input:focus{
        outline:none;
        border-bottom:2px solid rgba(255, 255, 255, 0.349);
     }
    
    #signupbtn  form button{
        padding: 24px;
        margin: 15px;
        margin-top:25px;
        margin-bottom:20px;
        background-color:#9a0000;
        border:none;
        color:rgba(255, 255, 255, 0.795);
        border-radius: 50px;
        font-size: 40px;
        cursor: pointer;
     }
    
     footer{
         background-color:rgb(5, 5, 20);
         padding: 10px;
         text-align: center;
         color: rgba(255, 255, 255, 0.493);
         font-family:nunito;
         font-size: 30px;
     }
     #education{
         padding: 2%;
         background-color:rgb(5, 5, 20)
     }
    #education h1{
        font-size: 61px;
        font-family:Times;

        border-bottom: 5px solid #9a0000;
        text-align:center;
        color: rgba(255, 255, 255, 0.836);
        width:30vw;
    }
    #education p{
        text-align:center;
        color:rgba(255, 255, 255, 0.644);
        font-size: 40px;
        font-family:roboto;
    }
    #education .header{
        display:flex;
        flex-direction:row;
        justify-content:center;
        width:100%;
    }
    #events{
        display:flex;
        flex-direction:column;
    }
    #events .header{
        display:flex;
        flex-direction:row;
        justify-content:center;
        width:100vw;
    }
    #events .header h1{
       width:30vw;
       text-align:center;
       font-family: STIX Two Math;
       font-size: 60px;
       color:rgba(255, 255, 255, 0.884);
       border-bottom: 5px solid #9a0000;
   }
   .eventswrap{display:flex; flex-direction:row;justify-content:center;width:100vw;}
   #events .event{
       display:flex;
       flex-direction:column;
       width: 70vw;
       margin-top:5vw;
       margin-bottom:5vw;
   }
   .event img{
       width:70vw;
       border-radius: 10px 10px 0 0px;
   }
   .event .det{
       background-color:rgb(8, 8, 34);
       border-bottom-right-radius: 10px;
       border-bottom-left-radius: 10px;
   }
   
   .event .eventh{
       display:flex;
       flex-direction:column;
       justify-content: space-between;
       padding: 20px;
       padding-top:15px;
       background-color:rgb(5, 5, 20);

   }
   .event h4{
       color: rgba(255, 255, 255, 0.815);
       font-size: 40px;
       font-family:roboto;
       margin:0px;
   }
   .event .dt{
       display:flex;
       flex-direction:column;
       justify-content:center;
       color:rgba(255, 255, 255, 0.301);
       font-family:roboto;
       font-size: 30px;
   
   }
   .event .det{
       padding-bottom: 41px;
   }
   .event .det p{
   
       padding-top:0px;
       font-family:roboto;
       color:rgba(255, 255, 255, 0.384);
       margin:20px;
       margin-bottom:30px;
       font-size: 30px;
   }
   .event a{
       padding:10px;
       padding-left:20px;
       padding-right:20px;
       font-family:roboto;
       background-color: #9a0000;
       color:white;
       border-radius: 50px;
       margin: 20px;
       font-size: 28px;
   }
   .event a:hover{
   
       background-color: #6e0808;
   
   }
}